<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>[% title %]</title>

[% PROCESS style_err.tt %]

<link rel="stylesheet" type="text/css" href="[% c.config.extjs2 %]/resources/css/ext-all.css" />
<script type="text/javascript" src="[% c.config.extjs2 %]/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="[% c.config.extjs2 %]/ext-all.js"></script>
</head>
<body class="xtheme-gray">

<noscript>
    <div class="box">
        <div class="error">Javascript disabled ?</div>
        <div class="infos">
            <p>It seems your web browser has not started the Javascript components which are required to view this site.</p>
            <br />

            <p>If you have Javascript disabled, please enable it and reload this page.</p>
            <p>Otherwise, there could be a problem on the web server, so please contact this site's administrator.</p>
        </div>
        <div class="name">[% title %]</div>
    </div>
</noscript>

[% content %]

</body>
</body>
</html>
